{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verificação de Cooperados | Dinâmico</title>
    <link rel="stylesheet" href=" satic/css/index.css ">
    
</head>

<body>

    <div class="baloes-container">
        <li class="balao"></li>
        <li class="balao"></li>
        <li class="balao"></li>
        <li class="balao"></li>
        <li class="balao"></li>
        <li class="balao"></li>
        <li class="balao"></li>
    </div>

    <div class="container">
        <h2>Seja-Bem Vindo AGO 2025🧑‍🤝‍🧑</h2>
        <form method="post">
            {% csrf_token %}
            <label for="inputNome">Nome:</label>
            {{login_form.username}}
            {% comment %} <input type="text" id="username" placeholder="Digite o nome completo"> {% endcomment %}
            
            <label for="inputMatricula">Matrícula:</label>
            <input type="text" name="matricula" id="id_matricula" required>
            {% comment %} <input type="number" id="inputMatricula" placeholder="Digite a matrícula (Ex: 1003)"> {% endcomment %}
                
            {% comment %} <button type="submit">Entrar</button> {% endcomment %}
            <input type="submit" value="Login">
        </form>

        {% comment %} <div id="resultado" class="aviso">Aguardando busca...</div> {% endcomment %}
    </div>

    {% comment %} <script src="assests/js/index.js"></script> {% endcomment %}
</body>

</html>

